{% extends 'base.html' %} {% block head %}
<title>Home</title>
{% endblock %} {% block body %}
<br />

<br />
<main role="main">
  <div class="jumbotron">
    <div class="col-sm-8 mx-auto">
      <h1>About Us</h1>
      <p>
        We are a last mile delivery service for cooking gas. We offer refill and
        purchase services and deliver the product right to your doorstep.
      </p>
    </div>
  </div>

  <div class="text-center">
    <a class="btn btn-primary btn-lg" href="/login" role="button"
      >Place an Order &raquo;</a
    >
  </div>
</main>
{% endblock %}
