{% extends 'base.html' %} {% block head %}
<title>Home</title>
{% endblock %} {% block body %}
<br />

<br />
<main role="main">
  <div class="jumbotron">
    <div class="col-sm-8 mx-auto">
      <h1>Frequently Asked Questions</h1>
      <p>
        All fine details you may want to know about the system
      </p>
    </div>
  </div>

  <div class="text-center">
    <a class="btn btn-primary btn-lg" href="/login" role="button"
      >Place an Order &raquo;</a
    >
  </div>
</main>
{% endblock %}
