{% extends 'base_admin.html' %} {% block head %}
<title>Admin</title>
{% endblock %} {% block body %}
<br />

<br />
<main role="main">
  <div class="jumbotron">
    <div class="col-sm-8 mx-auto">
      <h1>Latest Orders</h1>
      <div>
        <hr />

        <div class="table-responsive-lg">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Order Type</th>
                <th scope="col">Brand</th>
                <th scope="col">Size</th>
                <th scope="col">Location</th>
                <th scope="col">Time Placed</th>
                <th scope="col">Complete</th>
              </tr>
            </thead>
            <tbody>
              {% for order in orders %}
              <tr>
                <td>{{ order.name }}</td>
                <td>{{ order.phone_no }}</td>
                <td>{{order.order_type}}</td>
                <td>{{order.brand}}</td>
                <td>{{order.size}}</td>
                <td>{{order.location}}</td>
                <td>{{order.time_placed}}</td>
                <td>{{order.complete}}</td>

                {% if order.complete == "Pending" %}
                <td>
                  <a
                    type="button"
                    value="{{order._id}}"
                    href="/complete_order_in_latest/{{order._id}}"
                    class="btn btn-success btn-sm"
                  >
                    Complete
                  </a>
                </td>
                {% endif %}
              </tr>
              {% endfor%}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center">
    <a class="btn btn-primary btn-lg" href="/login" role="button"
      >Place an Order &raquo;</a
    >
  </div>
</main>
{% endblock %}
