{% extends 'base.html' %} {% block head %}
<title>Complete Order</title>
{% endblock %} {% block body %}
<br />

<br />
<main role="main">
  <div class="jumbotron">
    <div class="col-sm-8 mx-auto">
      <label><b>Thank you for placing your order!</b></label>
      <form>
        <br />
        <p>
          Your order will be completed within the next hour. Thank you, please
          keep your phone on to avoid inconveniencing the delivery partner!
          Enjoy the rest of your day. Please provide feedback on our services on
          our social media page:
          <br />

          <a href="https://www.facebook.com/CleverProgrammerr/">Facebook</a>
        </p>
        <br />
        <br />
      </form>
    </div>
    <a class="btn btn-light" href="/logout" role="button"> Logout </a>
  </div>
</main>
<br />
<br />
<br />
<br />

{% endblock %}
